# --------------------
# Python cache
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Virtual environments
# --------------------
.venv/
venv/

# --------------------
# Environment variables (VERY IMPORTANT)
# --------------------
.env

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Streamlit cache
# --------------------
.streamlit/

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/

# --------------------
# Build / packaging
# --------------------
build/
dist/
*.egg-info/

# --------------------
# Docker artifacts
# --------------------
*.tar

# --------------------
# General cache
# --------------------
.cache/